<!DOCTYPE html>
<{% extends 'base.html' %}

{% block main %}

        <div class = "row">
       <div class="card" style="width:300px">
    <img class="card-img-top" src="{{ url_for('static', filename='IMG/'+ 'output.jpg') }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Supreme x true Religion</h4>
      <p class="card-text">12499₴</p>
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Купити
  </button>
    </div>
  </div>

                <div class="card" style="width:300px">
    <img class="card-img-top" src="{{ url_for('static', filename='IMG/'+ 'trlg.jpg') }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Зіп-худі True Religion </h4>
      <p class="card-text">2100₴</p>
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Купити
  </button>
    </div>
  </div>

            <div class="card" style="width:300px">
    <img class="card-img-top" src="{{ url_for('static', filename='IMG/'+ 'stussyr.jpg') }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Зіп-худі Stussy</h4>
      <p class="card-text">6100₴</p>
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Купити
  </button>
    </div>
  </div>

                        <div class="card" style="width:300px">
    <img class="card-img-top" src="{{ url_for('static', filename='IMG/'+ 'sort.jpg') }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Худі Sort Company</h4>
      <p class="card-text">5100₴</p>
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Купити
  </button>
    </div>
  </div>

{% endblock main %}