<!DOCTYPE html>
<{% extends 'base.html' %}

{% block main %}
<main class="container bg-white">






    <div class="row">
   <div class="card" style="width:300px">
    <img class="card-img-top" src="{{ url_for('static', filename='IMG/'+ 'danck.jpeg') }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Sb Dunk Nike x Stussy</h4>
      <p class="card-text">3699₴</p>
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Купити
  </button>
    </div>
  </div>


       <div class="card" style="width:300px">
    <img class="card-img-top" src="{{ url_for('static', filename='IMG/'+ 'output.jpg') }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Supreme x true Religion</h4>
      <p class="card-text">12499₴</p>
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Купити
  </button>
    </div>
  </div>


        <div class="card" style="width:300px">
    <img class="card-img-top" src="{{ url_for('static', filename='IMG/'+ 'jingo.jpg') }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">3mp Jinco</h4>
      <p class="card-text">2100₴</p>
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Купити
  </button>

    </div>
  </div>


        <div class="card" style="width:300px">
    <img class="card-img-top" src="{{ url_for('static', filename='IMG/'+ 'stussy t-shirt.jpg') }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Футболка Stussy</h4>
      <p class="card-text">750₴</p>
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Купити
  </button>
    </div>
  </div>

            <div class="row">
        <div class="card" style="width:300px">
    <img class="card-img-top" src="{{ url_for('static', filename='IMG/'+ 'bigboy.jpg') }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Джинси BigBoy</h4>
      <p class="card-text">5300₴</p>
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Купити
  </button>
    </div>
  </div>


                <div class="card" style="width:300px">
    <img class="card-img-top" src="{{ url_for('static', filename='IMG/'+ 'trlg.jpg') }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Зіп-худі True Religion </h4>
      <p class="card-text">2100₴</p>
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Купити
  </button>
    </div>
  </div>


                <div class="card" style="width:300px">
    <img class="card-img-top" src="{{ url_for('static', filename='IMG/'+ 'sbwhysosad.jpg') }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Sb Dunk Why So Sad?</h4>
      <p class="card-text">3500₴</p>
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Купити
  </button>
    </div>
  </div>



                <div class="card" style="width:300px">
    <img class="card-img-top" src="{{ url_for('static', filename='IMG/'+ 'dcslts.jpg') }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Футболка DC Shoes SLAYER</h4>
      <p class="card-text">1350₴</p>
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Купити
  </button>
    </div>
  </div>



<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Замовлення</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
<div class="container mt-3">

  <form action="/action_page.php">
    <div class="mb-3 mt-3">
      <label for="email">Електрона пошта:</label>
      <input type="email" class="form-control" id="email" placeholder="Введіть електрону пошту" name="email">
    </div>
    <div class="mb-3">
      <label for="pwd">Номер Телефону:</label>
      <input type="tel" class="form-control" id="pwd" placeholder="Введіть номер телефону" name="pswd">
    </div>
         <div class="mb-3">
      <label for="pwd">Ім'я та фамілія одержувача:</label>
      <input type="email" class="form-control" id="pwd" placeholder="Ім'я та Фамілія" name="pswd">
    </div>
    <div class="form-check mb-3">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember"> Запам'ятати мене
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
      </div>



    </div>
  </div>
</div>


</main>
{% endblock main %}

