
<!DOCTYPE html>
 <{% extends 'base.html' %}


 {% block main %}



    <div class="row">
        <div class="card" style="width:300px">
    <img class="card-img-top" src="{{ url_for('static', filename='IMG/'+ 'jingo.jpg') }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">3mp Jinco</h4>
      <p class="card-text">2100₴</p>
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Купити
  </button>

    </div>
  </div>




        <div class="card" style="width:300px">
    <img class="card-img-top" src="{{ url_for('static', filename='IMG/'+ 'bigboy.jpg') }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Джинси BigBoy</h4>
      <p class="card-text">5300₴</p>
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Купити
  </button>
    </div>
  </div>

            <div class="card" style="width:300px">
    <img class="card-img-top" src="{{ url_for('static', filename='IMG/'+ 'bershka.jpg') }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Джинси Bershka</h4>
      <p class="card-text">2300₴</p>
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Купити
  </button>
    </div>
  </div>


                    <div class="card" style="width:300px">
    <img class="card-img-top" src="{{ url_for('static', filename='IMG/'+ 'empyre.jpg') }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Джинси Empyre</h4>
      <p class="card-text">3333₴</p>
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Купити
  </button>
    </div>
  </div>

                            <div class="card" style="width:300px">
    <img class="card-img-top" src="{{ url_for('static', filename='IMG/'+ 'sortcomp.jpg') }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Джинси Sort company</h4>
      <p class="card-text">5000₴</p>
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Купити
  </button>
    </div>
  </div>

                                    <div class="card" style="width:300px">
    <img class="card-img-top" src="{{ url_for('static', filename='IMG/'+ 'deenim.jpg') }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Джинси Polar Denim '93! </h4>
      <p class="card-text">5200₴</p>
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Купити
  </button>
    </div>
  </div>

    <div class="row">
                       <div class="card" style="width:300px">
    <img class="card-img-top" src="{{ url_for('static', filename='IMG/'+ 'balenciaga.jpg') }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Джинси Balenciagd</h4>
      <p class="card-text">9490₴</p>
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Купити
  </button>
    </div>
  </div>
                              <div class="card" style="width:300px">
    <img class="card-img-top" src="{{ url_for('static', filename='IMG/'+ 'wexwear.jpg') }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Джинси WexWear</h4>
      <p class="card-text">3700₴</p>
      <a href="#" class="btn btn-primary">Купити</a>
    </div>
  </div>
                                  <div class="card" style="width:300px">
    <img class="card-img-top" src="{{ url_for('static', filename='IMG/'+ 'cropp.jpg') }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Джинси Cropp</h4>
      <p class="card-text">700₴</p>
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Купити
  </button>
    </div>
  </div>

                                          <div class="card" style="width:300px">
    <img class="card-img-top" src="{{ url_for('static', filename='IMG/'+ 'reserwed.jpg') }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Джинси reserved</h4>
      <p class="card-text">900₴</p>
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Купити
  </button>
    </div>
  </div>
                                                  <div class="card" style="width:300px">
    <img class="card-img-top" src="{{ url_for('static', filename='IMG/'+ 'dickies.jpg') }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Джинси dickies</h4>
      <p class="card-text">1100₴</p>
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Купити
  </button>
    </div>
  </div>
                                                          <div class="card" style="width:300px">
    <img class="card-img-top" src="{{ url_for('static', filename='IMG/'+ 'carhartt.jpg') }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Джинси carhartt</h4>
      <p class="card-text">5000</p>
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Купити
  </button>
    </div>
  </div>
 {% endblock main %}