<!DOCTYPE html>
 <{% extends 'base.html' %}


 {% block main %}

<h1></h1>
    <div class="row">
   <div class="card" style="width:300px">
    <img class="card-img-top" src="{{ url_for('static', filename='IMG/'+ 'danck.jpeg') }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Sb Dunk Nike x Stussy</h4>
      <p class="card-text">3699₴</p>
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Купити
  </button>
    </div>
  </div>





                     <div class="card" style="width:300px">
    <img class="card-img-top" src="{{ url_for('static', filename='IMG/'+ 'sbwhysosad.jpg') }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Sb Dunk Why So Sad?</h4>
      <p class="card-text">3500₴</p>
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Купити
  </button>
    </div>
  </div>



        <div class="card" style="width:300px">
    <img class="card-img-top" src="{{ url_for('static', filename='IMG/'+ 'mummy.jpg') }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Прокляття Фараона</h4>
      <p class="card-text">1488₴</p>
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Купити
  </button>
    </div>
  </div>


          <div class="card" style="width:300px">
    <img class="card-img-top" src="{{ url_for('static', filename='IMG/'+ 'gimno.jpg') }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">panda dunk</h4>
      <p class="card-text">1488₴</p>
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Купити
  </button>
    </div>
  </div>

                  <div class="card" style="width:300px">
    <img class="card-img-top" src="{{ url_for('static', filename='IMG/'+ 'vans.jpg') }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Vans Knu skool</h4>
      <p class="card-text">2900₴</p>
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Купити
  </button>
    </div>
  </div>



                          <div class="card" style="width:300px">
    <img class="card-img-top" src="{{ url_for('static', filename='IMG/'+ 'superstar.jpg') }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">adidas superstar</h4>
      <p class="card-text">2500₴</p>
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Купити
  </button>
    </div>
  </div>
            <div class="row">
   <div class="card" style="width:300px">
    <img class="card-img-top" src="{{ url_for('static', filename='IMG/'+ 'vanss.jpg') }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Vans old skool</h4>
      <p class="card-text">1000₴</p>
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Купити
  </button>
    </div>
  </div>


                                          <div class="card" style="width:300px">
    <img class="card-img-top" src="{{ url_for('static', filename='IMG/'+ 'newbalance.jpg') }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">new balance 530</h4>
      <p class="card-text">3500₴</p>
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Купити
  </button>
    </div>
  </div>

                <div class="card" style="width:300px">
    <img class="card-img-top" src="{{ url_for('static', filename='IMG/'+ 'rick.jpg') }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Rick owens</h4>
      <p class="card-text">19000₴</p>
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Купити
  </button>
    </div>
  </div>
                <div class="card" style="width:300px">
    <img class="card-img-top" src="{{ url_for('static', filename='IMG/'+ 'rickk.jpg') }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Rick Owens Woven Shoes Hexa Sneaks</h4>
      <p class="card-text">19000₴</p>
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Купити
  </button>
    </div>
  </div>

                <div class="card" style="width:300px">
    <img class="card-img-top" src="{{ url_for('static', filename='IMG/'+ 'tn.jpg') }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Nike Tn</h4>
      <p class="card-text">2500₴</p>
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Купити
  </button>
    </div>
  </div>

                                <div class="card" style="width:300px">
    <img class="card-img-top" src="{{ url_for('static', filename='IMG/'+ 'dssss.jpeg') }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">DC Court Graffik</h4>
      <p class="card-text">3000₴</p>
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Купити
  </button>
    </div>
  </div>
 {% endblock main %}