<!DOCTYPE html>
 <{% extends 'base.html' %}


 {% block main %}

   <div class="row">
        <div class="card" style="width:300px">
    <img class="card-img-top" src="{{ url_for('static', filename='IMG/'+ 'stussy t-shirt.jpg') }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Футболка Stussy</h4>
      <p class="card-text">750₴</p>
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Купити
  </button>
    </div>
  </div>


                <div class="card" style="width:300px">
    <img class="card-img-top" src="{{ url_for('static', filename='IMG/'+ 'dcslts.jpg') }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Футболка DC Shoes SLAYER</h4>
      <p class="card-text">1350₴</p>
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Купити
  </button>
    </div>
  </div>

                  <div class="card" style="width:300px">
    <img class="card-img-top" src="{{ url_for('static', filename='IMG/'+ 'palm.jpg') }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Футболка Palm Angeles</h4>
      <p class="card-text">2350₴</p>
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Купити
  </button>
    </div>
  </div>

                        <div class="card" style="width:300px">
    <img class="card-img-top" src="{{ url_for('static', filename='IMG/'+ 'stone.jpg') }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Футболка Stone Island</h4>
      <p class="card-text">2500₴</p>
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Купити
  </button>
    </div>
  </div>

 {% endblock main %}